include *.rst
include *.sh
include *.txt
recursive-include docs *.bat
recursive-include docs *.nojekyll
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include src *.mplstyle
