include *.rst
include *.sh
include *.txt
include LICENSE
recursive-include docs *.bat
recursive-include docs *.nojekyll
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include madap *.mplstyle
